{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            http-equiv="X-UA-Compatible"
            content="IE=edge"
        />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link
            rel="stylesheet"
            href="{% static 'styles.css' %}"
        />
        <title>Gigstr</title>
    </head>
    <body>
        <header>
            <nav >
                <div class="nav-wrapper">
                    <h1><a href="/" class="left brand-logo">Gigstr</a></h1>
                    <ul class="right">
                    {% if user.is_authenticated %}
                        <li>{{ user.username }} {{ user.get_role_display }}</li>
                        <li><a href={% url 'logout' %}>Log Out</a></li>
                    {% else %}
                        <li><a href="{% url 'gigstr:signup' %}">Sign Up</a></li>
                        <li><a href="{% url 'login' %}">Log In</a></li>
                    {%  endif %}
                    </ul>
                </div>
            </nav>
        </header>
        <main class="container">{% block content %} {% endblock %}</main>
        <footer class="page-footer">
            <p>&copy; 2023 Gigtsr</p>
        </footer>
    </body>
</html>
