{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            http-equiv="X-UA-Compatible"
            content="IE=edge"
        />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Rye&display=swap" rel="stylesheet">  
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/styles.css' %}"
        />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <title>Gigstr</title>
    </head>
    <body>
        <header class="navbar-fixed">
            <nav >
                <div class="nav-wrapper">
                    <ul>
                        <li class="g-brand"><a href="/" class="left brand-logo">Gigstr</a></li>
                    </ul>
                    <ul class="right">
                    {% if user.is_authenticated %}
                        <li><a href={% url 'gigstr:bands_detail' user.id %}>{{ user.username }} {{ user.get_role_display }}</a></li>
                        <li><a href={% url 'logout' %}>Log Out</a></li>
                    {% else %}
                        <li><a href="{% url 'gigstr:signup' %}">Sign Up</a></li>
                        <li><a href="{% url 'login' %}">Log In</a></li>
                    {%  endif %}
                    </ul>
                </div>
            </nav>
        </header>
        <main class="container">{% block content %} {% endblock %}</main>
        <footer class="page-footer">
            <p>&copy; 2023 Gigtsr</p>
        </footer>
    </body>
</html>
